<b>DATA CLEANING CAUSES STATEWISE csv</b>

In [50]:
import pandas as pd
df=pd.read_csv('datasets/causes statewise.csv')
df.head(3)

,Country,State,Year,Gender,Cause Of Suicide,"Number Of Suicides (UOM:Number), Scaling Factor:1","Percentage Share (UOM:%(Percentage)), Scaling Factor:1"
0,India,Andaman and Nicobar Islands,"Calendar Year (Jan - Dec), 2022",Female,Bankruptcy or Indebtedness,0.0,NaN
1,India,Andaman and Nicobar Islands,"Calendar Year (Jan - Dec), 2022",Female,Causes Not Known,0.0,NaN
2,India,Andaman and Nicobar Islands,"Calendar Year (Jan - Dec), 2022",Female,Death of Dear Person,0.0,NaN

In [51]:
# Remove leading/trailing whitespace from column names
df.columns = df.columns.str.strip()

# Rename columns for easier access
df = df.rename(columns={
    'Number Of Suicides (UOM:Number), Scaling Factor:1': 'Number Of Suicides',
    'Percentage Share (UOM:%(Percentage)), Scaling Factor:1': 'Percentage Share'
})

# Strip whitespace from string columns
for col in ['Country', 'State', 'Gender', 'Cause Of Suicide']:
    df[col] = df[col].str.strip()

In [52]:
df.head(3)

,Country,State,Year,Gender,Cause Of Suicide,Number Of Suicides,Percentage Share
0,India,Andaman and Nicobar Islands,"Calendar Year (Jan - Dec), 2022",Female,Bankruptcy or Indebtedness,0.0,NaN
1,India,Andaman and Nicobar Islands,"Calendar Year (Jan - Dec), 2022",Female,Causes Not Known,0.0,NaN
2,India,Andaman and Nicobar Islands,"Calendar Year (Jan - Dec), 2022",Female,Death of Dear Person,0.0,NaN

In [53]:
df['Year'].unique()
# we notice , we only need the last 4 digits as we only need the year

array(['Calendar Year (Jan - Dec), 2022',
       'Calendar Year (Jan - Dec), 2021',
       'Calendar Year (Jan - Dec), 2020',
       'Calendar Year (Jan - Dec), 2019',
       'Calendar Year (Jan - Dec), 2018',
       'Calendar Year (Jan - Dec), 2017',
       'Calendar Year (Jan - Dec), 2016',
       'Calendar Year (Jan - Dec), 2015',
       'Calendar Year (Jan - Dec), 2014',
       'Calendar Year (Jan - Dec), 2013',
       'Calendar Year (Jan - Dec), 2012',
       'Calendar Year (Jan - Dec), 2011',
       'Calendar Year (Jan - Dec), 2010',
       'Calendar Year (Jan - Dec), 2009',
       'Calendar Year (Jan - Dec), 2008',
       'Calendar Year (Jan - Dec), 2007',
       'Calendar Year (Jan - Dec), 2006',
       'Calendar Year (Jan - Dec), 2005',
       'Calendar Year (Jan - Dec), 2004'], dtype=object)

In [54]:
df['Year']=df["Year"].str.extract(r'(\d{4})').astype(int)
df.head(3)

,Country,State,Year,Gender,Cause Of Suicide,Number Of Suicides,Percentage Share
0,India,Andaman and Nicobar Islands,2022,Female,Bankruptcy or Indebtedness,0.0,NaN
1,India,Andaman and Nicobar Islands,2022,Female,Causes Not Known,0.0,NaN
2,India,Andaman and Nicobar Islands,2022,Female,Death of Dear Person,0.0,NaN

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65094 entries, 0 to 65093
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             65094 non-null  object
 1   State               65094 non-null  object
 2   Year                65094 non-null  int64
 3   Gender              65094 non-null  object
 4   Cause Of Suicide    65094 non-null  object
 5   Number Of Suicides  65016 non-null  float64
 6   Percentage Share    27138 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 3.5+ MB

In [56]:
df['Cause Of Suicide'].unique()

array(['Bankruptcy or Indebtedness', 'Causes Not Known',
       'Death of Dear Person', 'Drug Abuse/Alcoholic Addiction',
       'Failure in Examination', 'Fall in Social Reputation',
       'Family Problems', 'Ideological Causes/Hero Worshipping',
       'Illegitimate Pregnancy (Other than Extra Marital Affairs)',
       'Illness (AIDS/STD)', 'Illness (Cancer)',
       'Illness (Insanity/Mental illness)',
       'Illness (Other Prolonged Illness)', 'Illness (Paralysis)',
       'Illness (Total)', 'Impotency/Infertility', 'Love Affairs',
       'Marriage Related Issues (Divorce)',
       'Marriage Related Issues (Dowry Related Issues)',
       'Marriage Related Issues (Extra Marital affairs)',
       'Marriage Related Issues (Non-Settlement of Marriage)',
       'Marriage Related Issues (Others)',
       'Marriage Related Issues (Total)', 'Other Causes',
       'Physical Abuse (Rape, etc.)', 'Poverty',
       'Professional/Career Problem', 'Property Dispute',
       'Suspected/ Illicit Relation (Other than Extra Marital Affairs)',
       'Unemployment'], dtype=object)

In [57]:
total_rows_count = df['Cause Of Suicide'].str.contains('Total').sum()
print(total_rows_count)

2520

In [58]:

df = df[~df['Cause Of Suicide'].str.contains('Total')]

df["Cause Of Suicide"].unique()
#we have removed all the rows which contained total values in the causes of Suicide we will now be categorising the data in 3 broad terms , 
# 1st - Illness if illness related , 2nd Marriage if marriage related , 3rd Various category will include all the rest

array(['Bankruptcy or Indebtedness', 'Causes Not Known',
       'Death of Dear Person', 'Drug Abuse/Alcoholic Addiction',
       'Failure in Examination', 'Fall in Social Reputation',
       'Family Problems', 'Ideological Causes/Hero Worshipping',
       'Illegitimate Pregnancy (Other than Extra Marital Affairs)',
       'Illness (AIDS/STD)', 'Illness (Cancer)',
       'Illness (Insanity/Mental illness)',
       'Illness (Other Prolonged Illness)', 'Illness (Paralysis)',
       'Impotency/Infertility', 'Love Affairs',
       'Marriage Related Issues (Divorce)',
       'Marriage Related Issues (Dowry Related Issues)',
       'Marriage Related Issues (Extra Marital affairs)',
       'Marriage Related Issues (Non-Settlement of Marriage)',
       'Marriage Related Issues (Others)', 'Other Causes',
       'Physical Abuse (Rape, etc.)', 'Poverty',
       'Professional/Career Problem', 'Property Dispute',
       'Suspected/ Illicit Relation (Other than Extra Marital Affairs)',
       'Unemployment'], dtype=object)

In [59]:
def categorize(cause):
    if 'Marriage' in cause:
        return 'Marriage'
    elif 'Illness' in cause:
        return 'Illness'
    else:
        return 'Various'

df['Category'] = df['Cause Of Suicide'].apply(categorize)

In [60]:
df.head(3)

,Country,State,Year,Gender,Cause Of Suicide,Number Of Suicides,Percentage Share,Category
0,India,Andaman and Nicobar Islands,2022,Female,Bankruptcy or Indebtedness,0.0,NaN,Various
1,India,Andaman and Nicobar Islands,2022,Female,Causes Not Known,0.0,NaN,Various
2,India,Andaman and Nicobar Islands,2022,Female,Death of Dear Person,0.0,NaN,Various

In [61]:
df.describe()

               Year  Number Of Suicides  Percentage Share
count  62574.000000        62496.000000      27138.000000
mean    2013.856362           84.616231          5.083580
std        5.436157          443.024717         12.726442
min     2004.000000            0.000000          0.000000
25%     2009.000000            0.000000          0.000000
50%     2015.000000            1.000000          0.700000
75%     2019.000000           24.000000          3.387500
max     2022.000000        50451.000000        200.000000

In [62]:
df["Gender"].unique()

array(['Female', 'Male', 'Total', 'Transgender'], dtype=object)

In [63]:
total_rows_count = df['Gender'].str.contains('Total').sum()
print(total_rows_count)
df = df[~df['Gender'].str.contains('Total')]
#around 17k Total row entries have been removed
df["Gender"].unique()

17918

array(['Female', 'Male', 'Transgender'], dtype=object)

In [64]:

df.describe()

               Year  Number Of Suicides  Percentage Share
count  44656.000000        44604.000000      18092.000000
mean    2014.129165           59.279168          3.812685
std        5.394563          317.964798          8.908838
min     2004.000000            0.000000          0.000000
25%     2010.000000            0.000000          0.000000
50%     2015.000000            0.000000          0.600000
75%     2019.000000           15.000000          2.600000
max     2022.000000        34574.000000        100.000000

In [65]:
df['Gender'].unique()

array(['Female', 'Male', 'Transgender'], dtype=object)

In [66]:
df.head(20)
#to be continued

,Country,State,Year,Gender,Cause Of Suicide,Number Of Suicides,Percentage Share,Category
0,India,Andaman and Nicobar Islands,2022,Female,Bankruptcy or Indebtedness,0.0,NaN,Various
1,India,Andaman and Nicobar Islands,2022,Female,Causes Not Known,0.0,NaN,Various
2,India,Andaman and Nicobar Islands,2022,Female,Death of Dear Person,0.0,NaN,Various
3,India,Andaman and Nicobar Islands,2022,Female,Drug Abuse/Alcoholic Addiction,0.0,NaN,Various
4,India,Andaman and Nicobar Islands,2022,Female,Failure in Examination,0.0,NaN,Various
5,India,Andaman and Nicobar Islands,2022,Female,Fall in Social Reputation,0.0,NaN,Various
6,India,Andaman and Nicobar Islands,2022,Female,Family Problems,3.0,NaN,Various
7,India,Andaman and Nicobar Islands,2022,Female,Ideological Causes/Hero Worshipping,0.0,NaN,Various
8,India,Andaman and Nicobar Islands,2022,Female,Illegitimate Pregnancy (Other than Extra Marit...,0.0,NaN,Various
9,India,Andaman and Nicobar Islands,2022,Female,Illness (AIDS/STD),0.0,NaN,Illness
10,India,Andaman and Nicobar Islands,2022,Female,Illness (Cancer),0.0,NaN,Illness
11,India,Andaman and Nicobar Islands,2022,Female,Illness (Insanity/Mental illness),6.0,NaN,Illness
12,India,Andaman and Nicobar Islands,2022,Female,Illness (Other Prolonged Illness),12.0,NaN,Illness
13,India,Andaman and Nicobar Islands,2022,Female,Illness (Paralysis),0.0,NaN,Illness
15,India,Andaman and Nicobar Islands,2022,Female,Impotency/Infertility,0.0,NaN,Various
16,India,Andaman and Nicobar Islands,2022,Female,Love Affairs,1.0,NaN,Various
17,India,Andaman and Nicobar Islands,2022,Female,Marriage Related Issues (Divorce),0.0,NaN,Marriage
18,India,Andaman and Nicobar Islands,2022,Female,Marriage Related Issues (Dowry Related Issues),0.0,NaN,Marriage
19,India,Andaman and Nicobar Islands,2022,Female,Marriage Related Issues (Extra Marital affairs),0.0,NaN,Marriage
20,India,Andaman and Nicobar Islands,2022,Female,Marriage Related Issues (Non-Settlement of Mar...,0.0,NaN,Marriage

In [67]:
df.info()
#here we see that we have null values in Number of 
# Suicides and Percentage Share, next step is to sort them out

<class 'pandas.core.frame.DataFrame'>
Index: 44656 entries, 0 to 65067
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             44656 non-null  object
 1   State               44656 non-null  object
 2   Year                44656 non-null  int64
 3   Gender              44656 non-null  object
 4   Cause Of Suicide    44656 non-null  object
 5   Number Of Suicides  44604 non-null  float64
 6   Percentage Share    18092 non-null  float64
 7   Category            44656 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 3.1+ MB

In [68]:
df= df.reset_index(drop=True)
df.info()
#here we have reset the index, to remove the gaps that came after removing duplicate rows.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44656 entries, 0 to 44655
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             44656 non-null  object
 1   State               44656 non-null  object
 2   Year                44656 non-null  int64
 3   Gender              44656 non-null  object
 4   Cause Of Suicide    44656 non-null  object
 5   Number Of Suicides  44604 non-null  float64
 6   Percentage Share    18092 non-null  float64
 7   Category            44656 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 2.7+ MB

In [69]:
null_rows = df[df["Number Of Suicides"].isnull()]
null_rows
#null_rows[null_rows["Year"]== 2012].shape
#here we have all the rows where number of suicide is nan or missing , in total we have 52 rows
#but showuld we just drop them?

,Country,State,Year,Gender,Cause Of Suicide,Number Of Suicides,Percentage Share,Category
30048,India,West Bengal,2012,Female,Bankruptcy or Indebtedness,NaN,NaN,Various
30049,India,West Bengal,2012,Female,Causes Not Known,NaN,NaN,Various
30050,India,West Bengal,2012,Female,Death of Dear Person,NaN,NaN,Various
30051,India,West Bengal,2012,Female,Drug Abuse/Alcoholic Addiction,NaN,NaN,Various
30052,India,West Bengal,2012,Female,Failure in Examination,NaN,NaN,Various
30053,India,West Bengal,2012,Female,Fall in Social Reputation,NaN,NaN,Various
30054,India,West Bengal,2012,Female,Family Problems,NaN,NaN,Various
30055,India,West Bengal,2012,Female,Ideological Causes/Hero Worshipping,NaN,NaN,Various
30056,India,West Bengal,2012,Female,Illegitimate Pregnancy (Other than Extra Marit...,NaN,NaN,Various
30057,India,West Bengal,2012,Female,Illness (AIDS/STD),NaN,NaN,Illness
30058,India,West Bengal,2012,Female,Illness (Cancer),NaN,NaN,Illness
30059,India,West Bengal,2012,Female,Illness (Insanity/Mental illness),NaN,NaN,Illness
30060,India,West Bengal,2012,Female,Illness (Other Prolonged Illness),NaN,NaN,Illness
30061,India,West Bengal,2012,Female,Illness (Paralysis),NaN,NaN,Illness
30062,India,West Bengal,2012,Female,Impotency/Infertility,NaN,NaN,Various
30063,India,West Bengal,2012,Female,Love Affairs,NaN,NaN,Various
30064,India,West Bengal,2012,Female,Marriage Related Issues (Divorce),NaN,NaN,Marriage
30065,India,West Bengal,2012,Female,Marriage Related Issues (Dowry Related Issues),NaN,NaN,Marriage
30066,India,West Bengal,2012,Female,Marriage Related Issues (Non-Settlement of Mar...,NaN,NaN,Marriage
30067,India,West Bengal,2012,Female,Other Causes,NaN,NaN,Various
30068,India,West Bengal,2012,Female,"Physical Abuse (Rape, etc.)",NaN,NaN,Various
30069,India,West Bengal,2012,Female,Poverty,NaN,NaN,Various
30070,India,West Bengal,2012,Female,Professional/Career Problem,NaN,NaN,Various
30071,India,West Bengal,2012,Female,Property Dispute,NaN,NaN,Various
30072,India,West Bengal,2012,Female,Suspected/ Illicit Relation (Other than Extra ...,NaN,NaN,Various
30073,India,West Bengal,2012,Female,Unemployment,NaN,NaN,Various
30074,India,West Bengal,2012,Male,Bankruptcy or Indebtedness,NaN,NaN,Various
30075,India,West Bengal,2012,Male,Causes Not Known,NaN,NaN,Various
30076,India,West Bengal,2012,Male,Death of Dear Person,NaN,NaN,Various
30077,India,West Bengal,2012,Male,Drug Abuse/Alcoholic Addiction,NaN,NaN,Various
30078,India,West Bengal,2012,Male,Failure in Examination,NaN,NaN,Various
30079,India,West Bengal,2012,Male,Fall in Social Reputation,NaN,NaN,Various
30080,India,West Bengal,2012,Male,Family Problems,NaN,NaN,Various
30081,India,West Bengal,2012,Male,Ideological Causes/Hero Worshipping,NaN,NaN,Various
30082,India,West Bengal,2012,Male,Illegitimate Pregnancy (Other than Extra Marit...,NaN,NaN,Various
30083,India,West Bengal,2012,Male,Illness (AIDS/STD),NaN,NaN,Illness
30084,India,West Bengal,2012,Male,Illness (Cancer),NaN,NaN,Illness
30085,India,West Bengal,2012,Male,Illness (Insanity/Mental illness),NaN,NaN,Illness
30086,India,West Bengal,2012,Male,Illness (Other Prolonged Illness),NaN,NaN,Illness
30087,India,West Bengal,2012,Male,Illness (Paralysis),NaN,NaN,Illness
30088,India,West Bengal,2012,Male,Impotency/Infertility,NaN,NaN,Various
30089,India,West Bengal,2012,Male,Love Affairs,NaN,NaN,Various
30090,India,West Bengal,2012,Male,Marriage Related Issues (Divorce),NaN,NaN,Marriage
30091,India,West Bengal,2012,Male,Marriage Related Issues (Dowry Related Issues),NaN,NaN,Marriage
30092,India,West Bengal,2012,Male,Marriage Related Issues (Non-Settlement of Mar...,NaN,NaN,Marriage
30093,India,West Bengal,2012,Male,Other Causes,NaN,NaN,Various
30094,India,West Bengal,2012,Male,"Physical Abuse (Rape, etc.)",NaN,NaN,Various
30095,India,West Bengal,2012,Male,Poverty,NaN,NaN,Various
30096,India,West Bengal,2012,Male,Professional/Career Problem,NaN,NaN,Various
30097,India,West Bengal,2012,Male,Property Dispute,NaN,NaN,Various
30098,India,West Bengal,2012,Male,Suspected/ Illicit Relation (Other than Extra ...,NaN,NaN,Various
30099,India,West Bengal,2012,Male,Unemployment,NaN,NaN,Various

In [ ]:
df[(df["Year"] == 2012) &( df["State"]== "West Bengal")].shape
#here we find out that dropping the values where number of suicides is nan will remove every
#value from west bengal from 2012 , which we dont want so we will replace them with 0

(52, 8)

In [ ]:
zero_suicides = df[df["Number Of Suicides"] == 0]
zero_suicides.count()
#here we check how many rows are there where number of suicides are ACTUALLY REPORTED to be 0 as they are 
#different from the missing values as they are non reported, hence we will make a new column which flags a row as reported 
#vs non reported based on no. of suicides

Country               22464
State                 22464
Year                  22464
Gender                22464
Cause Of Suicide      22464
Number Of Suicides    22464
Percentage Share       6815
Category              22464
dtype: int64

In [72]:
df["Reported_Status"] = df["Number Of Suicides"].apply(
    lambda x: "Non-Reported" if pd.isna(x) else "Reported"
)

In [ ]:
df["Reported_Status"].value_counts()
#here we see that we have 52 non ewpoerted aka nan and rest are reported

Reported_Status
Reported        44604
Non-Reported       52
Name: count, dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44656 entries, 0 to 44655
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             44656 non-null  object
 1   State               44656 non-null  object
 2   Year                44656 non-null  int64
 3   Gender              44656 non-null  object
 4   Cause Of Suicide    44656 non-null  object
 5   Number Of Suicides  44604 non-null  float64
 6   Percentage Share    18092 non-null  float64
 7   Category            44656 non-null  object
 8   Reported_Status     44656 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 3.1+ MB

In [75]:
df.head(5)

,Country,State,Year,Gender,Cause Of Suicide,Number Of Suicides,Percentage Share,Category,Reported_Status
0,India,Andaman and Nicobar Islands,2022,Female,Bankruptcy or Indebtedness,0.0,NaN,Various,Reported
1,India,Andaman and Nicobar Islands,2022,Female,Causes Not Known,0.0,NaN,Various,Reported
2,India,Andaman and Nicobar Islands,2022,Female,Death of Dear Person,0.0,NaN,Various,Reported
3,India,Andaman and Nicobar Islands,2022,Female,Drug Abuse/Alcoholic Addiction,0.0,NaN,Various,Reported
4,India,Andaman and Nicobar Islands,2022,Female,Failure in Examination,0.0,NaN,Various,Reported

In [76]:
df.to_csv("suicides_clean.csv", index=False)