<b>DATA CLEANING CAUSES STATEWISE csv</b>

In [23]:
import pandas as pd
df=pd.read_csv('datasets/causes statewise.csv')
df.head(3)

,Country,State,Year,Gender,Cause Of Suicide,"Number Of Suicides (UOM:Number), Scaling Factor:1","Percentage Share (UOM:%(Percentage)), Scaling Factor:1"
0,India,Andaman and Nicobar Islands,"Calendar Year (Jan - Dec), 2022",Female,Bankruptcy or Indebtedness,0.0,NaN
1,India,Andaman and Nicobar Islands,"Calendar Year (Jan - Dec), 2022",Female,Causes Not Known,0.0,NaN
2,India,Andaman and Nicobar Islands,"Calendar Year (Jan - Dec), 2022",Female,Death of Dear Person,0.0,NaN

In [24]:
# Remove leading/trailing whitespace from column names
df.columns = df.columns.str.strip()

# Rename columns for easier access
df = df.rename(columns={
    'Number Of Suicides (UOM:Number), Scaling Factor:1': 'Number Of Suicides',
    'Percentage Share (UOM:%(Percentage)), Scaling Factor:1': 'Percentage Share'
})

# Strip whitespace from string columns
for col in ['Country', 'State', 'Gender', 'Cause Of Suicide']:
    df[col] = df[col].str.strip()

In [25]:
df.head(3)

,Country,State,Year,Gender,Cause Of Suicide,Number Of Suicides,Percentage Share
0,India,Andaman and Nicobar Islands,"Calendar Year (Jan - Dec), 2022",Female,Bankruptcy or Indebtedness,0.0,NaN
1,India,Andaman and Nicobar Islands,"Calendar Year (Jan - Dec), 2022",Female,Causes Not Known,0.0,NaN
2,India,Andaman and Nicobar Islands,"Calendar Year (Jan - Dec), 2022",Female,Death of Dear Person,0.0,NaN

In [26]:
df['Year'].unique()
# we notice , we only need the last 4 digits as we only need the year

array(['Calendar Year (Jan - Dec), 2022',
       'Calendar Year (Jan - Dec), 2021',
       'Calendar Year (Jan - Dec), 2020',
       'Calendar Year (Jan - Dec), 2019',
       'Calendar Year (Jan - Dec), 2018',
       'Calendar Year (Jan - Dec), 2017',
       'Calendar Year (Jan - Dec), 2016',
       'Calendar Year (Jan - Dec), 2015',
       'Calendar Year (Jan - Dec), 2014',
       'Calendar Year (Jan - Dec), 2013',
       'Calendar Year (Jan - Dec), 2012',
       'Calendar Year (Jan - Dec), 2011',
       'Calendar Year (Jan - Dec), 2010',
       'Calendar Year (Jan - Dec), 2009',
       'Calendar Year (Jan - Dec), 2008',
       'Calendar Year (Jan - Dec), 2007',
       'Calendar Year (Jan - Dec), 2006',
       'Calendar Year (Jan - Dec), 2005',
       'Calendar Year (Jan - Dec), 2004'], dtype=object)

In [27]:
df['Year']=df["Year"].str.extract(r'(\d{4})').astype(int)
df.head(3)

,Country,State,Year,Gender,Cause Of Suicide,Number Of Suicides,Percentage Share
0,India,Andaman and Nicobar Islands,2022,Female,Bankruptcy or Indebtedness,0.0,NaN
1,India,Andaman and Nicobar Islands,2022,Female,Causes Not Known,0.0,NaN
2,India,Andaman and Nicobar Islands,2022,Female,Death of Dear Person,0.0,NaN

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65094 entries, 0 to 65093
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             65094 non-null  object
 1   State               65094 non-null  object
 2   Year                65094 non-null  int64
 3   Gender              65094 non-null  object
 4   Cause Of Suicide    65094 non-null  object
 5   Number Of Suicides  65016 non-null  float64
 6   Percentage Share    27138 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 3.5+ MB

In [29]:
df['Cause Of Suicide'].unique()

array(['Bankruptcy or Indebtedness', 'Causes Not Known',
       'Death of Dear Person', 'Drug Abuse/Alcoholic Addiction',
       'Failure in Examination', 'Fall in Social Reputation',
       'Family Problems', 'Ideological Causes/Hero Worshipping',
       'Illegitimate Pregnancy (Other than Extra Marital Affairs)',
       'Illness (AIDS/STD)', 'Illness (Cancer)',
       'Illness (Insanity/Mental illness)',
       'Illness (Other Prolonged Illness)', 'Illness (Paralysis)',
       'Illness (Total)', 'Impotency/Infertility', 'Love Affairs',
       'Marriage Related Issues (Divorce)',
       'Marriage Related Issues (Dowry Related Issues)',
       'Marriage Related Issues (Extra Marital affairs)',
       'Marriage Related Issues (Non-Settlement of Marriage)',
       'Marriage Related Issues (Others)',
       'Marriage Related Issues (Total)', 'Other Causes',
       'Physical Abuse (Rape, etc.)', 'Poverty',
       'Professional/Career Problem', 'Property Dispute',
       'Suspected/ Illicit Relation (Other than Extra Marital Affairs)',
       'Unemployment'], dtype=object)

In [30]:
total_rows_count = df['Cause Of Suicide'].str.contains('Total').sum()
print(total_rows_count)

2520

In [31]:

df = df[~df['Cause Of Suicide'].str.contains('Total')]

df["Cause Of Suicide"].unique()
#we have removed all the rows which contained total values in the causes of Suicide we will now be categorising the data in 3 broad terms , 
# 1st - Illness if illness related , 2nd Marriage if marriage related , 3rd Various category will include all the rest

array(['Bankruptcy or Indebtedness', 'Causes Not Known',
       'Death of Dear Person', 'Drug Abuse/Alcoholic Addiction',
       'Failure in Examination', 'Fall in Social Reputation',
       'Family Problems', 'Ideological Causes/Hero Worshipping',
       'Illegitimate Pregnancy (Other than Extra Marital Affairs)',
       'Illness (AIDS/STD)', 'Illness (Cancer)',
       'Illness (Insanity/Mental illness)',
       'Illness (Other Prolonged Illness)', 'Illness (Paralysis)',
       'Impotency/Infertility', 'Love Affairs',
       'Marriage Related Issues (Divorce)',
       'Marriage Related Issues (Dowry Related Issues)',
       'Marriage Related Issues (Extra Marital affairs)',
       'Marriage Related Issues (Non-Settlement of Marriage)',
       'Marriage Related Issues (Others)', 'Other Causes',
       'Physical Abuse (Rape, etc.)', 'Poverty',
       'Professional/Career Problem', 'Property Dispute',
       'Suspected/ Illicit Relation (Other than Extra Marital Affairs)',
       'Unemployment'], dtype=object)

In [32]:
def categorize(cause):
    if 'Marriage' in cause:
        return 'Marriage'
    elif 'Illness' in cause:
        return 'Illness'
    else:
        return 'Various'

df['Category'] = df['Cause Of Suicide'].apply(categorize)

In [33]:
df.head(3)

,Country,State,Year,Gender,Cause Of Suicide,Number Of Suicides,Percentage Share,Category
0,India,Andaman and Nicobar Islands,2022,Female,Bankruptcy or Indebtedness,0.0,NaN,Various
1,India,Andaman and Nicobar Islands,2022,Female,Causes Not Known,0.0,NaN,Various
2,India,Andaman and Nicobar Islands,2022,Female,Death of Dear Person,0.0,NaN,Various

In [34]:
df.describe()

               Year  Number Of Suicides  Percentage Share
count  62574.000000        62496.000000      27138.000000
mean    2013.856362           84.616231          5.083580
std        5.436157          443.024717         12.726442
min     2004.000000            0.000000          0.000000
25%     2009.000000            0.000000          0.000000
50%     2015.000000            1.000000          0.700000
75%     2019.000000           24.000000          3.387500
max     2022.000000        50451.000000        200.000000

In [35]:
df["Gender"].unique()

array(['Female', 'Male', 'Total', 'Transgender'], dtype=object)

In [ ]:
total_rows_count = df['Gender'].str.contains('Total').sum()
print(total_rows_count)
df = df[~df['Gender'].str.contains('Total')]
#around 17k Total row entries have been removed
df["Gender"].unique()

17918

array(['Female', 'Male', 'Transgender'], dtype=object)

In [37]:

df.describe()

               Year  Number Of Suicides  Percentage Share
count  62574.000000        62496.000000      27138.000000
mean    2013.856362           84.616231          5.083580
std        5.436157          443.024717         12.726442
min     2004.000000            0.000000          0.000000
25%     2009.000000            0.000000          0.000000
50%     2015.000000            1.000000          0.700000
75%     2019.000000           24.000000          3.387500
max     2022.000000        50451.000000        200.000000

In [38]:
df['Gender'].unique()

array(['Female', 'Male', 'Total', 'Transgender'], dtype=object)

In [39]:
df.head(20)
#to be continued

,Country,State,Year,Gender,Cause Of Suicide,Number Of Suicides,Percentage Share,Category
0,India,Andaman and Nicobar Islands,2022,Female,Bankruptcy or Indebtedness,0.0,NaN,Various
1,India,Andaman and Nicobar Islands,2022,Female,Causes Not Known,0.0,NaN,Various
2,India,Andaman and Nicobar Islands,2022,Female,Death of Dear Person,0.0,NaN,Various
3,India,Andaman and Nicobar Islands,2022,Female,Drug Abuse/Alcoholic Addiction,0.0,NaN,Various
4,India,Andaman and Nicobar Islands,2022,Female,Failure in Examination,0.0,NaN,Various
5,India,Andaman and Nicobar Islands,2022,Female,Fall in Social Reputation,0.0,NaN,Various
6,India,Andaman and Nicobar Islands,2022,Female,Family Problems,3.0,NaN,Various
7,India,Andaman and Nicobar Islands,2022,Female,Ideological Causes/Hero Worshipping,0.0,NaN,Various
8,India,Andaman and Nicobar Islands,2022,Female,Illegitimate Pregnancy (Other than Extra Marit...,0.0,NaN,Various
9,India,Andaman and Nicobar Islands,2022,Female,Illness (AIDS/STD),0.0,NaN,Illness
10,India,Andaman and Nicobar Islands,2022,Female,Illness (Cancer),0.0,NaN,Illness
11,India,Andaman and Nicobar Islands,2022,Female,Illness (Insanity/Mental illness),6.0,NaN,Illness
12,India,Andaman and Nicobar Islands,2022,Female,Illness (Other Prolonged Illness),12.0,NaN,Illness
13,India,Andaman and Nicobar Islands,2022,Female,Illness (Paralysis),0.0,NaN,Illness
15,India,Andaman and Nicobar Islands,2022,Female,Impotency/Infertility,0.0,NaN,Various
16,India,Andaman and Nicobar Islands,2022,Female,Love Affairs,1.0,NaN,Various
17,India,Andaman and Nicobar Islands,2022,Female,Marriage Related Issues (Divorce),0.0,NaN,Marriage
18,India,Andaman and Nicobar Islands,2022,Female,Marriage Related Issues (Dowry Related Issues),0.0,NaN,Marriage
19,India,Andaman and Nicobar Islands,2022,Female,Marriage Related Issues (Extra Marital affairs),0.0,NaN,Marriage
20,India,Andaman and Nicobar Islands,2022,Female,Marriage Related Issues (Non-Settlement of Mar...,0.0,NaN,Marriage

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 62574 entries, 0 to 65093
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             62574 non-null  object
 1   State               62574 non-null  object
 2   Year                62574 non-null  int64
 3   Gender              62574 non-null  object
 4   Cause Of Suicide    62574 non-null  object
 5   Number Of Suicides  62496 non-null  float64
 6   Percentage Share    27138 non-null  float64
 7   Category            62574 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 4.3+ MB